@keyframes prepend-card {
    from {
        transform: scale(0.5);
        opacity: 0;

    }

    to {
        transform: scale(1);
        opacity: 1;

    }
}

@keyframes prepend-card2 {
    from {
        transform: translateX(-100%);

    }

    to {
        transform: translateX(0%);

    }
}




@keyframes greenx {
    0% {
        background-color: blue;

    }

    90% {
        background-color: blue;


    }



}

.newCard {
    animation: greenx 6s linear, prepend-card2 .3s ease-in;
}


.greenbackground:hover {
    background-color: orange;
    transition: background-color 150ms ease-out;

}

.greenbackground {

    background-color: white;

}