.no {
  /* background-color: #645bdf; */
  color: white;
}

.yes {
  background-color: #e659ab;
}

.wrapPlease {
  white-space: pre-wrap;
}

header {

  font-family: Courier;
  font-size: 21px;
}

.link_off,
.link_on {
  position: relative;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 30px;
  color: #95bac6;
  font-weight: 600;
}

.link_off:active,
.link_off:focus,
.link_off:hover,
.link_on:active,
.link_on:focus,
.link_on:hover {
  text-decoration: none;
  color: #b43c3c !important;
}

.link_off:active::after,
.link_off:focus::after,
.link_off:hover::after,
.link_on:active::after,
.link_on:focus::after,
.link_on:hover::after {
  position: absolute;
  top: 47px;
  left: 0;
  z-index: 2;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 6px;
}

.link_on {
  color: #b43c3c !important;
}

.link_on::after {
  position: absolute;
  top: 47px;
  left: 0;
  z-index: 2;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #e7f3ff;
  border-radius: 6px;
}

footer .content-bottom {
  font-size: 0.9rem;
}

footer a {
  text-decoration: none !important;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

footer .content-bottom .footer-references a {
  font-weight: 600;
}

footer .content-bottom .footer-references a:hover {
  text-decoration: none;
}

.searchBox {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {

  .two-button-header a {
    margin-bottom: 0.1rem;
  }
}

.two-button-header {
  flex-wrap: wrap;
}

.opinion {
  font-style: italic;
}

.heading {
  background-color: rgb(0, 68, 255);
}body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

footer .content-bottom {
    width: 100%;
    /* height: 57px; */
    padding: 0.2em 0;
}

img.logo {
    width: 255px;
    height: auto;
}

#dvContainer {
    flex: 1 1 auto;
}

.content {
    margin: auto auto;
    padding: 0 20px;
    max-width: 1200px;
}

.myCss {
    text-align: center;
}table.T2  {
    table-layout: auto;
    width: 100%;
    border: 1px solid var(--tbBorder);
    border-collapse: collapse;
    background-color: var(--tbBackground);
}

.border-primary {
    border-color: green !important;
}

#cpSwitchBox {
    display: none;
    overflow: hidden;
}

#dvFooter {
    border-top: 1px dashed rgb(110, 110, 110);
}

#dvHeader {
    border-bottom: 1px dashed rgb(110, 110, 110);
}

:root {
    
    --main-color: #2e3031;
    --main-bg-color: #6db3db;
    --main-bg-color: #fbfdff;
  
    --second-colour : #e48583; 
    --second-bg-color: rgba(230, 224, 224, 0.918);
  
    --third-bg-color: rgb(59, 59, 59);
    --third-color: rgb(48, 42, 42);
  
    --textA:  rgb(14, 14, 14);
    --dashplease: rgb(255, 246, 230);
  
    --tbBackground: white;
    --tdBorder: rgb(159, 159, 16);
  
    --thBorder: lightblue;
    --thBackground: white;
  
    --tdBorder: rgb(165, 170, 169);
    --tdColor: rgb(48, 52, 53);
  
    --aColor  :rgb(122, 122, 122);
    --aHoverColor : rgb(14, 14, 14);
  
    --btn-outline : 33, 107, 219;
    --btn-outline2 : rgb(33, 107, 219);
    --swBackgroundOff :rgb(33, 219, 95);
    --swBackgroundOn :rgb(219, 33, 142);
  }

 .word {

    display: inline-block;
    border-radius: .2em;
    text-align: center;
    text-decoration: none;
    padding: 0 .4rem;
    color: #fff;
    background-color: #b5d8d8;
}

.detail-row {
    background-color:#e6ebf5 !important
}